@tailwind base;

html {
  scroll-behavior: smooth;
}

@tailwind components;
@tailwind utilities;

.sidebarCard {
  @apply rounded-lg bg-white px-[1.25rem] py-3 shadow-md;
}

.markdownContent {
  p {
    @apply py-3 text-[1.135rem] font-light leading-[2] text-light-primary/80 dark:text-dark-primary;
  }

  h2 {
    @apply pb-1 pt-4 text-4xl font-bold text-light-primary dark:text-dark-primary;
  }

  h3 {
    @apply pb-[0] pt-4 text-3xl font-bold text-light-primary dark:text-dark-primary;
  }

  ul {
    @apply py-2;

    li {
      @apply relative pb-3 pl-3 text-[1.1rem] font-light leading-8 before:absolute before:left-[0rem] before:top-[.65rem] before:h-[6px] before:w-[6px] before:bg-accent;
    }
  }

  ol {
    @apply list-decimal py-2 pl-3;

    li {
      @apply pb-3 text-[1.1rem] font-light leading-8 text-light-primary last:pb-[0] dark:text-dark-primary;
    }
  }

  a {
    @apply relative mx-[.1rem] px-[.1rem] font-semibold text-black before:absolute before:bottom-[0] before:left-[0] before:h-[1.5px] before:w-full before:content-normal before:bg-accent/30 hover:before:bg-accent dark:text-dark-primary dark:before:bg-accent;
  }

  strong {
    @apply font-extrabold capitalize;
  }

  ol,
  ul {
    code {
      @apply rounded-[.275rem] border-[1px] border-light-contrast-300 bg-white px-[.4rem] py-[.225rem] text-sm font-semibold tracking-tight shadow-sm dark:border-dark-contrast-200 dark:bg-dark-layoutElement;
    }
  }

  img {
    @apply h-auto w-full rounded-md;
  }
}

// gradients
.PrimaryGradient {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}

.ArticleTitle {
  line-height: 1.35;

  a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0 1px;
    background-position: 0 calc(100% - 0.125em);
    background-repeat: no-repeat;
    transition: background-size 0.5s cubic-bezier(0, 0.57, 0.55, 1);
    will-change: background-size;

    &:hover {
      color: inherit;
      background-size: 100% 1px;
    }
  }
}
